
@{
    ViewData["Title"] = "EselfERP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/template/css/style.css" rel="stylesheet" />


<div class="middle">
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <h1 style="bold;color:black">YAKINDA HİZMETİNİZDE!</h1>
    <hr>
    @*<p id="demo" style="font-size:30px"></p>*@
</div>

