
@{
    ViewData["Title"] = "Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/template/css/style.css" rel="stylesheet" />
<style>
    #pTag {
        font-weight: bold;
        color: black;
    }
</style>

<!-- ##### About Us Area Start ##### -->
<br />
<br />
<br />
<br />

<!-- ##### YABANCI REFERANSLAR ##### -->
<section id="foreignRef">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2 class="fadeInUp" data-wow-delay="0.3s">Yabancı Referanslar</h2>
                </div>
            </div>
        </div>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2015</h3>
                                            <p id="pTag">ERBIL BARZAN HOSPITAL</p>
                                            <p>IRAK</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">2 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2015</h3>
                                            <p id="pTag">NOYABIRSK STATE HOSPITAL</pid="pTag">
                                            <p>RUSYA</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2016</h3>
                                            <p id="pTag">MALDIVIES AYADA</p>
                                            <p>MALDIVIES</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">5 GENERATOR SYNCHRONOUS</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YABANCI REFERANSLAR/erbilBarzan.jpg"> 
                                <p>ERBIL BARZAN HOSPITAL</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <div id="imgDiv" style="height:50%">
                                    <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YABANCI REFERANSLAR/Rades.jpg">
                                </div>

                                <p>GAMA RADES 450MW CYCLE POWER PLANT</p>
                            </div>
                        </div>
                    </div>


                    <!--2-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                GAMA RADES 450MW CYCLE POWER PLANT
                                            </p>
                                            <p>TUNUS</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">1 GENERATOR</p>
                                            <p id="pTag">2 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2019</h3>
                                            <p id="pTag">
                                                NEMA ENERGY PLANT
                                            </p>
                                            <p>MORİTANYA</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">5 GENERATOR SYNCHRONOUS</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2019</h3>
                                            <p id="pTag">
                                                ADEL ENERGY PLANT
                                            </p>
                                            <p>MORİTANYA</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR SYNCHRONOUS</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2019</h3>
                                            <p id="pTag">
                                                KERKÜK MALL
                                            </p>
                                            <p>IRAK</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <div id="imgDiv" style="height:50%">
                                    <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YABANCI REFERANSLAR/KerkukMall.jpg">
                                </div>

                                <p>KERKUK MALL</p>
                            </div>
                        </div>
                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <div id="imgDiv" style="height:50%">
                                    <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YABANCI REFERANSLAR/ayadaMaldivies.jpg">
                                </div>

                                <p>AYADA MALDIVIES</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>
    </div>
</section>
<!-- ##### YABANCI REFERANSLAR ##### -->
<!-- ##### YERLİ REFERANSLAR ##### -->
<section id="foreignRef">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2 class="fadeInUp" data-wow-delay="0.3s">Yerli Referanslar</h2>
                </div>
            </div>
        </div>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2015</h3>
                                            <p id="pTag">
                                                ŞANLIURFA M.AKİF İNAN HOSPITAL (EGEM JENERATÖR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">2 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2015</h3>
                                            <p id="pTag">
                                                SULTANGAZİ BELEDİYESİ NEVA MALL (GENPOWER)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">2 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2016</h3>
                                            <p id="pTag">
                                                TÜPRAG GOLD MINE İZMİR (ATASER)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR SYNCHRONOUS</p>
                                            <p id="pTag">1 MAINS OG</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/neva.jpg">
                                <p>SULTANGAZİ BELEDİYESİ NEVA MALL (GENPOWER)</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/tupra.jpg">
                                <p>TÜPRAG GOLD MINE İZMİR (ATASER)</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2016</h3>
                                            <p id="pTag">
                                                ANKARA AKTEPE STADIUM
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">1 GENERATOR</p>
                                            <p id="pTag">1 MAINS ALWAYS PARALEL WORKING</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2016</h3>
                                            <p id="pTag">
                                                ANKARA OSMANLI FOOTBALL STADIUM
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 MAINS ALWAYS PARALEL WORKING</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2016</h3>
                                            <p id="pTag">
                                                ESKİŞEHİR ETİ CAKE FACTORY
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR SYNCHRONOUS</p>
                                            <p id="pTag">3 MAINS</p>
                                            <p id="pTag">22 LOAD CB</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/etigidayeni.jpg">
                                <p>ESKİŞEHİR ETİ CAKE FACTORY</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/osmanli.jpg">
                                <p>ANKARA OSMANLI FOOTBALL STADIUM</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2016</h3>
                                            <p id="pTag">
                                                TRABZON CEVAHİR MALL (KUZEY JENERATÖR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">1 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2016</h3>
                                            <p id="pTag">
                                                ANADOLU ASLANI SONDAJ
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">1 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2016</h3>
                                            <p id="pTag">
                                                EDREMİT ASKERİ HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/Trabzon-Cevahir.jpg">
                                <p>TRABZON CEVAHİR MALL (KUZEY JENERATÖR)</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/anadoluAslani.jpg">
                                <p>ANADOLU ASLANI SONDAJ</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2017</h3>
                                            <p id="pTag">
                                                TÜRK TELEKOM SMC CENTRAL (ANKA)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">4 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2017</h3>
                                            <p id="pTag">
                                                DENİZLİ UNIVERSITY HOSPITAL (AKSA)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">2 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2017</h3>
                                            <p id="pTag">
                                                NAZİLLİ STATE HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">3 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/nazillidevlet.jpg">
                                <p>NAZİLLİ STATE HOSPITAL</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/denizli.jpg">
                                <p>DENİZLİ UNIVERSITY HOSPITAL (AKSA)</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2017</h3>
                                            <p id="pTag">
                                                KONYA KADIN DOĞUM ve ÇOCUK HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">2 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2017</h3>
                                            <p id="pTag">
                                                KATİP ÇELEBİ UNIVERSITY
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">1 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2017</h3>
                                            <p id="pTag">
                                                TOKAT GOP UNIVERSITY (KUZEY JENERATÖR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/iku.jpg">
                                <p>İZMİR KATİP ÇELEBİ ÜNİVERSİTESİ</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/tokatGop.jpg">
                                <p>TOKAT GOP UNIVERSITY (KUZEY JENERATÖR)</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2017</h3>
                                            <p id="pTag">
                                                İZMİR ÖZDİLEK MALL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 MAINS</p>
                                            <p id="pTag">1 COGENERATOR</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2017</h3>
                                            <p id="pTag">
                                                ELBİSTAN STATE HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">3 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                ASELSAN
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">4 MAINS WOODWARD</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/aselsan.jpg">
                                <p>ASELSAN</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/aselsann.jpg">
                                <p>ASELSAN</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                ROKETSAN (FGW)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">1 GENERATOR</p>
                                            <p id="pTag">1 MAINS OG WOODWARD</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                ROKETSAN DATA CENTRAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">2 MAINS COMAP</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                KÜTAHYA EVLİYA ÇELEBİ HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">2 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/roketsan.jpg">
                                <p>ROKETSAN</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/roketsann.jpg">
                                <p>ROKETSAN</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                AFYON STATE HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">6 GENERATOR</p>
                                            <p id="pTag">3 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                KONYA SELÇUKLU KONGRE CENTRAL (BAŞARI JEN.)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">4 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                BARTIN UNIVERSITY (IRMAK ENERJİ)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">1 GENERATOR</p>
                                            <p id="pTag">2 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/bartinuniversitesi.jpg">
                                <p>BARTIN ÜNİVERSİTESİ</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/afyonState.jpg">
                                <p>AFYON STATE HOSPITAL</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                MARDİN KIZILTEPE STATE HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">3 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                SOMA STATE HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">4 MAINS DEEPSEA</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                ANADOLU ASLANI SONDAJ
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/anadoluAslani.jpg">
                                <p>ANADOLU ASLANI SONDAJ</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/kizitepeMardin.jpg">
                                <p>MARDİN KIZILTEPE STATE HOSPITAL</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                TOKAT İL SAĞLIK MÜDÜRLÜĞÜ (KUZEY JENERATÖR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">1 GENERATOR</p>
                                            <p id="pTag">1 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                PEMAR TURİZM HOTEL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">1 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                YÖRSAN
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/pemar-beach-resort (1)_80513.jpg">
                                <p>PEMAR TURİZM HOTEL</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/yorsan.jpg">
                                <p>YÖRSAN</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                TURGUTLU LEZİTA FACTORY (AKSA İZMİR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                            <p id="pTag">6 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                MANİSA PEPSICO (AKSA İZMİR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">2 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                MALATYA JSF35 AIRPORT
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">5 GENERATOR</p>
                                            <p id="pTag">1 MAINS OG</p>
                                            <p id="pTag">10 SET 2 GENERATOR</p>
                                            <p id="pTag">1 MAINS</p>
                                            <p id="pTag">3 SET 1 GENERATOR</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/pepsico.jpg">
                                <p>MANİSA PEPSICO (AKSA İZMİR)</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/malatyaAirport.jpg">
                                <p>MALATYA AIRPORT</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                İLHAN YILMAZ-3 GEMİ (RİMAR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">6 GENERATOR</p>
                                            <p id="pTag">1 SAHİL</p>
                                            <p id="pTag">1 EMERGENCY GENERATOR</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                İLHAN YILMAZ-4 GEMİ (RİMAR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">1 SAHİL</p>
                                            <p id="pTag">1 EMERGENCY GENERATOR</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                İLHAN YILMAZ-5 GEMİ (RİMAR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">1 SAHİL</p>
                                            <p id="pTag">1 EMERGENCY GENERATOR</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                İLHAN YILMAZ-6 GEMİ (RİMAR)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">1 SAHİL</p>
                                            <p id="pTag">1 EMERGENCY GENERATOR</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/rimar.jpg">
                                <p>İLHAN YILMAZ GEMİ (RİMAR)</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/iyilmaz.jpg">
                                <p>İLHAN YILMAZ GEMİ (RİMAR)</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/ilhanyılmaz22.jpg">
                                <p>İLHAN YILMAZ GEMİ (RİMAR)</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                AKGÜN BALIKÇILIK
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                MAMULİ İSMAİL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">4 GENERATOR</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                KORKMAZ  BALIKÇILIK
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 SAHİL</p>
                                            <p id="pTag">PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/mamuliIsmail.jpg">
                                <p>MAMULİ İSMAİL</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/akgunBalik.jpg">
                                <p>AKGÜN BALIKÇILIKL</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                DEDETAŞ VAPUR (SGS)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 SAHİL</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2018</h3>
                                            <p id="pTag">
                                                OKTAVA YAT
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 SAHİL</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2019</h3>
                                            <p id="pTag">
                                                ECZACIBAŞI BALYA TESİSLERİ (SANELPAN)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">1 MAINS SYNCHRONOUS PROJECT</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/eczacıbasi.jpg">
                                <p>ECZACIBAŞI BALYA TESİSLERİ (SANELPAN)</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/dedetasVapur.jpg">
                                <p>DEDETAŞ VAPUR</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2019</h3>
                                            <p id="pTag">
                                                SÜREL OTEL (ALFA)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2019</h3>
                                            <p id="pTag">
                                                ÇORUM BLD. MEZBAHA MÜDÜRLÜĞÜ (YÜKSEL KAYA)
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2019</h3>
                                            <p id="pTag">
                                                MSB ÇANAKKALE TRANSMITTER ANTENNA STATION
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">2 GENERATOR</p>
                                            <p id="pTag">1 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/sural-hotel.jpg">
                                <p>SÜREL OTEL (ALFA)</p>
                            </div>
                        </div>

                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/mezbaha.jpg">
                                <p>ÇORUM BLD. MEZBAHA MÜDÜRLÜĞÜ</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

        <section class="about-us-area special section-padding-0-70 clearfix ">
            <div class="container">
                <div class="row align-items-center">

                    <!--1-->
                    <div>
                        <div class="services-column col-lg-6 col-xs-12">

                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2019</h3>
                                            <p id="pTag">
                                                SİVAS CUMHURİYET UNIVERSITY HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">3 GENERATOR</p>
                                            <p id="pTag">3 MAINS SYNCHRONOUS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Services Block Four-->
                            <div class="services-block-four how">
                                <div class="inner-box">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 style="font-weight:bold;font-size:24px">2019</h3>
                                            <p id="pTag">
                                                İKİTELLİ ŞEHİR HOSPITAL
                                            </p>
                                            <p>TÜRKİYE</p>
                                        </div>
                                        <div id="verticle" style="width: 4px;background-color: grey;"></div>
                                        <div class="col-md-5">
                                            <p id="pTag">26 GENERATOR</p>
                                            <p id="pTag">1 MAINS</p>
                                            <p id="pTag">SCADA PROJECT</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="services-column col-lg-6 col-xs-12">
                            <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                                <img class="img" alt="" src="~/template/img/ekFotographs/Referanslar/YERLİ REFERANSLAR/ikitelliSehir.jpg">
                                <p>İKİTELLİ ŞEHİR HOSPITAL</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

    </div>
</section>
<!-- ##### YERLİ REFERANSLAR ##### -->
