
@{
    ViewData["Title"] = "EselfIOT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/template/css/style.css" rel="stylesheet" />


<!-- ##### IoT Tanım ##### -->
<section class="features section-padding-100-70" style="background: url(~/template/img/svg/benefits-bg.svg) no-repeat center left;">
    <div class="section-heading text-center">
        <!-- Dream Dots -->
        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <img src="~/template/img/svg/section-icon-2.svg" alt="">
        </div>
        <h2 class="fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Eselfware IoT</h2>
        <p class="fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            Nesnelerin İnterneti internetin keşfinden sonra hayatımızı en çok etkilemesi beklenen bilişim ürünlerinin başında gelmektedir. Nesnelerin interneti adreslenebilir nesnelerin kendi aralarında  oluşturduğu, dünya çapında yaygın bir ağ ve bu ağdaki nesnelerin belirli bir protokol ile birbirleriyle iletişim içinde olmaları olarak tanımlanmaktadır. Bu özellikleri ile nesnelerin interneti denilince sadece birtakım cihazların internete bağlı olması anlaşılmamalıdır. Burada önemli olan cihazların birbiri ile haberleşmeleri ve çeşitli senaryolara göre birlikte hareket ederek bir bütün oluşturmalarıdır. ESELFWARE bilişim alanındaki yatırımları kapsamında IoT projeleri ve planlamaları yapmaktadır.
        </p>
    </div>
</section>

