
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <meta name="google-site-verification" content="7UeHHx815sZ5h9SZNG2cdGclgmEm3Cta8Z3uuLFPSSQ" />
    </head>

<!-- Core Stylesheet -->
<link href="~/template/css/style.css" rel="stylesheet" />

<!-- Responsive Stylesheet -->
<link href="~/template/css/responsive.css" rel="stylesheet" />

<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area clearfix dzsparallaxer auto-init none fullwidth" data-options='{direction: "normal"}' id="home">
    <img class="divimage dzsparallaxer--target" style="width: 101%; height: 130%;" src="~/template/img/bg-img/bg-5-2.png" />
    <!-- Hero Content -->
    <div class="hero-content transparent">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Welcome Content -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="welcome-content">
                        <div class="promo-section">
                            <div class="integration-link dark-int">
                                <span class="integration-icon">
                                    @*<img src="~/Content/Template/img/svg/img-dollar.svg" width="24" height="24" alt="">*@
                                </span>
                                <span class="integration-text">Türkiye'nin yerli web tabanlı scadası</span>
                            </div>
                        </div>
                        <h1 class="big fadeInUp" data-wow-delay="0.2s">Yaratıcı, Kullanışlı ve Dinamik </h1>
                        @*<p class="w-text fadeInUp" data-wow-delay="0.3s">15 yılı aşkın deneyimimiz ve kendi alanında yetkin personelimiz ile size özel yazılım çözümleri sunuyoruz. </p>*@
                        <div class="dream-btn-group fadeInUp" data-wow-delay="0.4s">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->

<section class="features section-padding-100-70" style="background: url('~/template/img/svg/benefits-bg.svg') no-repeat center left;">
    <div class="section-heading text-center">
        <!-- Dream Dots -->
        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <img src="~/Content/Template/img/svg/section-icon-2.svg" alt="">
        </div>
        <h2 class="fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Scada Nedir</h2>
        <p class="fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            SCADA; “Merkezi Denetleme Kontrol ve Veri Toplama” sistemi olarak adlandırılmaktadır. SCADA sistemleri geniş alana yayılmış tesislerin tek bir merkezden bilgisayar, cep telefonu veya tablet gibi cihazlarla control edilip izlendiği sistemlerdir. Tek bir cihaz ile kullanılabileceği gibi birden fazla bilgisayar ve taşınabilir cihazla da kontrol ve izleme yapılabilir. Büyük tesislerde  olduğu kadar Iot (Nesnelerin interneti) kapsamında tek bir kritik cihaz veya beyaz eşyalar da dahil bu kapsamda izleme ve kontrol yapılabilir.
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content box-shadow text-center mb-100 fadeInUp">
                    <!-- Icon -->
                    <div class="service_icon video-i">
                        <img class="embed-video" src="~/template/video/1.gif" alt="">
                    </div>
                    <h6>Sade ve Anlaşılır Grafik</h6>
                    <p>Grafiklerimiz son derece anlaşılır ve ayrıntılı analizlere olanak sağlamaktadır.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content box-shadow text-center mb-100 fadeInUp">
                    <!-- Icon -->
                    <div class="service_icon video-i">
                        <img class="embed-video" src="~/template/video/2.gif" alt="">
                    </div>
                    <h6>İzleme Sistemi</h6>
                    <p>Otomasyon sistemlerinizi son derece güçlü ve esnek teknolojiler yardımıyla izleyebileceksiniz.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content box-shadow text-center mb-100 fadeInUp">
                    <!-- Icon -->
                    <div class="service_icon video-i">
                        <img class="embed-video" src="~/template/video/3.gif" alt="">
                    </div>
                    <h6>Alarm Sistemi, Veri Toplama, Analiz ve Raporlama Sistemleridir.</h6>
                    <p>Email ve sms ile alarm sisteminiz her zaman size gerekli bilgileri verecektir.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="demo-video features section-padding-0-100" style="background:url('~/template/img/svg/bg_hero.svg') no-repeat center right; border-top:none">
    <div class="container">
        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                <img src="~/template/img/svg/section-icon-1.svg" alt="">
            </div>
            <h2 class="b-text fadeInUp" data-wow-delay="0.3s">Tanıtım Videomuz Hemen Aşağıda</h2>
            <p class="fadeInUp" data-wow-delay="0.4s" style="color:#888"></p>
        </div>
        <!-- Welcome Video Area -->
        <div class="col-lg-6 col-md-12  col-sm-12">
            <div class="welcome-video-area fadeInUp" data-wow-delay="0.5s">
                <!-- Welcome Thumbnail -->
                <div class="welcome-thumb">
                    <img src="~/template/img/bg-img/bg-4.jpg" alt="">
                </div>
                <!-- Video Icon -->
                <div class="video-icon">
                    <a href="" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="services-block-four mt-s">
                <div class="inner-box">
                    <div class="icon-img-box">
                        <img src="~/template/img/svg/how1.svg" alt="">
                    </div>
                    <h3><a href="#">Kişiselleştirilmiş Yazılımlar</a></h3>
                    <div class="text">İhtiyacınıza göre değiştirilebilir dinamik arayüzler ve ikonlar</div>

                </div>
            </div>
            <div class="services-block-four">
                <div class="inner-box">
                    <div class="icon-img-box">
                        <img src="~/template/img/svg/how2.svg" alt="">
                    </div>
                    <h3><a href="#">Kolay Erişilebilirlik</a></h3>
                    <div class="text">Sadece ağa bağlı bilgisayar ile değil uzaktan ve her türlü akıllı telefon ile izleme ve kontrol</div>

                </div>
            </div>
            <div class="services-block-four" style="margin-bottom:0">
                <div class="inner-box">
                    <div class="icon-img-box">
                        <img src="~/template/img/svg/how3.svg" alt="">
                    </div>
                    <h3><a href="#">Uzman kadromuz</a></h3>
                    <div class="text">7/24 kesintisiz servis hizmeti ile %100 müşteri memnuniyeti</div>

                </div>
            </div>


        </div>
    </div>
</section>

<div class="double-bg">
    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area section-padding-0-0 clearfix" id="about">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-12 col-lg-6">
                    <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                        <img src="~/template/img/core-img/about11.png" class="img-responsive center-block" alt="">

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="who-we-contant mt-s">
                        <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <img src="~/template/img/svg/section-icon-1.svg" alt="">
                        </div>
                        <h4 class="fadeInUp" data-wow-delay="0.3s">
                            Dünya Standartlarında otomasyon ve scada hizmeti. Scada Yazılımımız 2019 yılında Kosgeb desteğine layık görülmüş Türk mühendislerinin oluşturduğu bir yazılımdır.
                        </h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->
    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area section-padding-100 clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-12 col-lg-6 ">
                    <div class="who-we-contant">
                        <a href="/fiyatlandirma" class="btn dream-btn mt-30 fadeInUp" data-wow-delay="0.6s">Teklif İste</a>
                    </div>
                    <br />
                    <br />
                    <p>
                        24 Saat içinde hızlı ve güvenilir fiyatlama
                    </p>
                    <p>
                        Eselfware Scada bir <a href="http://www.enerotomasyon.com.tr/" target="_blank"> Ener Grup </a> organizasyonudur.
                    </p>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="welcome-meter fadeInUp" data-wow-delay="0.7s">
                        <img src="~/template/img/core-img/about12.png" class="center-block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->
</div>

<!-- ########## All JS ########## -->
<!-- jQuery js -->
<script src="~/template/js/jquery.min.js"></script>

