
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/template/css/style.css" rel="stylesheet" />
<section class="features section-padding-100-70" style="background: url(~/template/img/svg/benefits-bg.svg) no-repeat center left;">
    <div class="section-heading text-center">
        <!-- Dream Dots -->
        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div>
                <img src="~/template/img/ekFotographs/QRCode.png" alt=""> 
            </div>
        </div>

        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div>
                <p style="">KONUM / LOCATION</p>
            </div>
        </div>
        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div>
                <p style="color:black;font-weight:bold">ENER OTOMASYON ELEKTRİK SAN. VE TİC. LTD. ŞTİ.</p>
            </div>
        </div>

        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-md-6">
                    <p style="color:black;font-weight:bold">Merkez / Head Office</p>
                    <p>Çınarlı Mah. Fatih Cad. No:16-18 K:14 D:44/1404</p>
                    <p>Ater Tower / Konak / İZMİR</p>
                </div>
                @*<div class="col-md-2" id="verticle" style="background-color: grey;"></div>*@
                <div class="col-md-6">
                    <p style="color:black;font-weight:bold">Üretim / Production</p>
                    <p>Karacaoğlan Mah. 6170 Sk. No:11/Z-46</p>
                    <p>Bornova / İZMİR</p>
                </div>

            </div>
        </div>

        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="row">
                <p style="color:black;font-weight:bold">M +90 532 430 6484</p>
            </div>
        </div>

        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="row">
                <p style="color:black;font-weight:bold">T +90 232 433 1 435</p>
            </div>
        </div>


        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="row">
                <p style="color:black;font-weight:bold">T +90 850 411 ENER</p>
            </div>
        </div>

        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="row">
                <p style="color:black;font-weight:bold">F +90 232 433 1 437</p>
            </div>
        </div>

        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="row">
                <p style="color:black;font-weight:bold">www.enerotomasyon.com.tr</p>
            </div>
        </div>

    </div>
</section>

<!-- ##### Contact Area Start ##### -->
<div class="contact_us_area section-padding-100-0" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <!-- Dream Dots -->
                    <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                        <img src="~/template/img/svg/section-icon-5.svg" alt="">
                    </div>
                    <h2 class="fadeInUp" data-wow-delay="0.3s">Bizimle İletişime Geçin</h2>
                    <p class="fadeInUp" data-wow-delay="0.4s">Bilgi almak için lütfen mesajınızı bırakınız. En yakın zamanda sizinle iletişime geçeceğiz.</p>
                </div>
            </div>
        </div>

        <!-- Contact Form -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="contact_form">
                    <form action="#" method="post" id="main_contact_form" novalidate>
                        <div class="row">
                            <div class="col-12">
                                <div id="success_fail_info"></div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="group fadeInUp" data-wow-delay="0.2s">
                                    <input type="text" name="name" id="name" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Ad</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="group fadeInUp" data-wow-delay="0.3s">
                                    <input type="text" name="email" id="email" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="group fadeInUp" data-wow-delay="0.4s">
                                    <input type="text" name="subject" id="subject" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Konu</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="group fadeInUp" data-wow-delay="0.5s">
                                    <textarea name="message" id="message" required></textarea>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Mesaj</label>
                                </div>
                            </div>
                            <div class="col-12 text-center fadeInUp" data-wow-delay="0.6s">
                                <button type="submit" class="btn dream-btn" id="btnSendContact"><span id="spanBtnLoginText">Mesajı Gönder</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#btnSendContact").click(function () {
        var data = {
            'name': $('#name').val(),
            'email': $('#email').val(),
            'subject': $('#subject').val(),
            'message': $('#message').val(),
        }
        if (data.name != null) {
            $("#btnSendContact").prop('disabled', true);
            $("#spanBtnLoginText").empty();
            $("#spanBtnLoginText").append("Mesajınız Gönderiliyor");
            /*btn btn-primary btn-block btn-c mt-4 mb-4*/
            $("#btnSendContact").attr('class', 'btn btn-warning btn-block btn-c mt-4 mb-4');

            $.ajax({
                type: "POST",
                url: '/iletisimReg',
                data: data,
                success: function (deger) {
                    var span = $("#spanhata");
                    var divError = $("#divError");
                    span.empty();
                    if (deger === "Success") {
                        window.location.href = '/iletisim#contact';
                    }
                    else if (deger.islem === "Error") {
                        span.append("Giriş bilgileri hatalı !");
                        $("#btnSendContact").prop('disabled', false);
                        $("#spanBtnLoginText").empty();
                        $("#spanBtnLoginText").append("Mesajı Gönder");
                        $("#btnSendContact").attr('class', 'btn btn-primary btn-block btn-c mt-4 mb-4');
                        divError.show();
                    }
                    else {
                        span.append("Bilinmeyen bir hata oluştu !");
                        $("#btnSendContact").prop('disabled', false);
                        $("#spanBtnLoginText").empty();
                        $("#spanBtnLoginText").append("Mesajı Gönder");
                        $("#btnSendContact").attr('class', 'btn btn-primary btn-block btn-c mt-4 mb-4');
                        divError.show();
                    }
                }

            });
        } else {
            var divError = $("#divError");
            var span = $("#spanhata");
            span.empty();
            span.append("Boş alan bırakılamaz");
            divError.show();
        }
    });
</script>
<!-- ##### Contact Area End ##### -->
