
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/template/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- ##### Ürünler Tanım ##### -->
    <section class="features section-padding-100-70" style="background: url(~/template/img/svg/benefits-bg.svg) no-repeat center left;">

        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <img src="~/template/img/svg/section-icon-2.svg" alt="">
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;">ÜRÜNLER</h2>
            <p class="fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                Eselfware Scada sayesinde, bir tesise, işletmeye veya bir eve ait tüm ekipmanların kontrolünden üretim planlamasına, çevre kontrol ünitelerinden yardımcı işletmelere kadar tüm birimlerin otomatik kontrolü ve gözetlemesi sağlanabilir.Günümüz dünyasının makinelerinin ve cihazlarının uzaktan kontrolü ve izlenmesi Endüstri 4.0 çözümlerinin dijital dönüşüm felsefesinin ana temelini oluşturur.
            </p>
        </div>


    </section>
<!-- ##### Ürünler Tanım ##### -->
<!-- ##### SCADA Tanım ##### -->
<section class="features section-padding-100-70" style="background: url(~/template/img/svg/benefits-bg.svg) no-repeat center left;">

    <div class="section-heading text-center">
        <!-- Dream Dots -->
        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <img src="~/template/img/svg/section-icon-2.svg" alt="">
        </div>
        <h2 class="fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">SCADA</h2>
        <p class="fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            SCADA yazılımının bağlantılı ekranlarından cihazların genel durumunu,  arıza alarmlarını, çalışma verimliliklerini ve etkinlik raporları gibi pek çok konuya hakim olunur. SCADA sistemini izlemek ve/veya kontrol etmek için masaüstü bilgisayarlar,dizüstü bilgisayarlar,tabletler ve mobil cihazlar kullanılabilir. Yerli üretim SCADA yazılımımız ve güvenilir fiyat politikamız ile müşterilerimizin ihtiyaçları doğrultusunda kişilere ve kurumlara özel benzersiz çözümler sunmaktayız.
        </p>
    </div>


</section>
<!-- ##### SCADA Tanım ##### -->

<section class=" fuel-features features section-padding-100 clearfix" id="services">
    <div class="container has-shadow">
        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <span class="gradient-text blue">Eselfware Scada</span>
            </div>
            <h2 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Teknik Özellikler</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-30">
                <div class="services-block-four v2">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="~/template/img/icons/1.png" alt="">
                        </div>
                        <h3><a href="#">Sunucu Özellikleri</a></h3> 
                    </div>
                    <a href="#" class="icon_foot">
                        <i class="fa fa-long-arrow-right" data-toggle="modal" data-target="#serverModal"></i>
                    </a>
                </div>
                <div class="services-block-four v2">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="~/template/img/icons/2.png" alt="">
                        </div>
                        <h3><a href="#">Kullanıcı Yönetimi </a></h3>
                    </div>
                    <a href="#" class="icon_foot">
                        <i class="fa fa-long-arrow-right" data-toggle="modal" data-target="#userManangement"></i>
                    </a>
                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-30">
                <div class="services-block-four v2">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="~/template/img/icons/1.png" alt="">
                        </div>
                        <h3><a href="#">Scada Geliştirme Editörü</a></h3>
                    </div>
                    <a href="#" class="icon_foot">
                        <i class="fa fa-long-arrow-right" data-toggle="modal" data-target="#scadaDevelopment"></i>
                    </a>
                </div>
                <div class="services-block-four v2">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="~/template/img/icons/2.png" alt="">
                        </div>
                        <h3><a href="#">Alarm İzleme ve Kontrol</a></h3>
                    </div>
                    <a href="#" class="icon_foot">
                        <i class="fa fa-long-arrow-right" data-toggle="modal" data-target="#alarmTracing"></i>
                    </a>
                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-30">
                <div class="services-block-four v2">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="~/template/img/icons/1.png" alt="">
                        </div>
                        <h3><a href="#">Operatör İstemcileri</a></h3>
                    </div>
                    <a href="#" class="icon_foot">
                        <i class="fa fa-long-arrow-right" data-toggle="modal" data-target="#operatorModal"></i>
                    </a>
                </div>


            </div>

        </div>

    </div>
</section>


<!-- ##### Our Services Area Start ##### -->
<section class="our_services_area section-padding-100-0 clearfix" id="services">
    <div class="container">

        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                <img src="~/template/img/svg/section-icon-3.svg" alt="">
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s">Scada'da Temel Hizmetler</h2>
            <p class="fadeInUp" data-wow-delay="0.4s">Kullandığınız lisansa bağlı olarak içerikler değişebilmektedir.</p>
        </div>


        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/template/img/features/feat1.png" alt="">
                    </div>
                    <h6>Akıllı Takip</h6>
                    <p>Sisteminizde gelecek en ufak bir arızada anında sms ve mail ile bilgilendirileceksiniz.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/template/img/features/feat2.png" alt="">
                    </div>
                    <h6>Grafik</h6>
                    <p>İsterseniz 2 boyutlu isterseniz 3 boyutlu grafikler tamamen sizin kontrolünüzde.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/template/img/features/feat3.png" alt="">
                    </div>
                    <h6>Geçmişin Analizi</h6>
                    <p>Geçmişteki çalışmaları öğrenerek hangi alanlarda ne sıkıntıların olduğunu ilk önce siz bileceksiniz.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.5s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/template/img/features/feat4.png" alt="">
                    </div>

                    <h6>Platform bağımsız</h6>
                    <p>Projenizi doğrudan bir tarayıcıda çalıştırın veya Linux, Windows, MacOSX ve Android gibi tüm yaygın işletim sistemlerinde kullanın.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.6s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/template/img/features/feat5.png" alt="">
                    </div>
                    <h6>HTML5, CSS3 ve JavaScript ile uyumlu</h6>
                    <p>HTML5, CSS3 ve JavaScript, kendini tanımlayan özellikler oluşturmanıza ve hatta kontrol öğeleri oluşturmanıza olanak sağlar.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.7s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/template/img/features/feat6.png" alt="">
                    </div>
                    <h6>Ölçeklenebilir ve esnek</h6>
                    <p>Her boyuttaki projeyi görselleştirin ve kontrol edin. Küçük makinelerden ve özel ev otomasyonlarından büyük tesislere.Yazılım mimarisi sayesinde QuickHMI bu uygulamaların herhangi biri için uygundur.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Our Services Area End ##### -->
<!-- ##### SUNUCU ÖZELLİKLERİ ##### -->
<div id="serverModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <br />
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    Çoklu platform desteği sağlar - Windows, Linux, MacOs ..v.b
                </p>
                <p>
                    MsSQL ve Mongo veritabanlarını desteklemektedir
                </p>
                <p>
                    Sınırsız operatör desteği sağlar - Sunucu donanımları kapasitesi sınırlar
                </p>
                <p>
                    Genel network haberleşme protokollerini destekler (MODBUS, IEC104, DNP3 vb.)
                </p>
                <p>
                    Redundant yazılım destekleme özelliği
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>

    </div>
</div>


<!-- ##### Scada Geliştirme Editörü ##### -->
<div id="scadaDevelopment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <br />
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    Alt yapısı ile çoklu kullanıcı destekler
                </p>
                <p>
                    Gerçek zamanlı veri ve grafik desteği sağlar
                </p>
                <p>
                    Grafik nesne kütüphanesi entegrasyonu
                </p>
                <p>
                    Özellleştirilmiş etiketlendirme imkanı
                </p>
                <p>
                    Veri tabanları ile anlık sorgu tanımlama ve sonuçları ile nesneleri ilişkilendirme
                </p>
                <p>
                    Sayfaya kullanıcı tanımlama
                </p>
                <p>
                    Google Maps Entegrasyonu
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>

    </div>
</div>

<!-- ##### 	Alarm İzleme ve Kontrol ##### -->
<div id="alarmTracing" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <br />
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    Onay ve onay notu ekleyebilme
                </p>
                <p>
                    Etiketler için limitsiz alarm tanımlayabilme
                </p>
                <p>
                    Geçmiş alarm verisini raporlayabilme
                </p>
                <p>
                    Gerçek zamanlı alarm görüntülemesi yapabilme
                </p>
                <p>
                    Sesli, görsel ve Pop-up alarm gösterimi
                </p>
                <p>
                    Sistem arka planda çalışıyor olsa bile Pop-up haber verme
                </p>
                <p>
                    Alarm sayfasından doğrudan her bir kullanıcıya erişim
                </p>
                <p>
                    Alarmların E-Posta ve SMS ile gönderimi
                </p>
                <p>
                    Alarm durumlarını renklendirerek görsel farkındalık yaratma
                </p>
                <p>
                    İkonların üzerinde doğrudan alarmları gösterebilme
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>

    </div>
</div>

<!-- ##### Operatör İstemcileri ##### -->
<div id="operatorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <br />
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    Tüm platformlardan ve işletim sistemlerinden bağlantı sağlanabilmektedir
                </p>
                <p>
                    Anlık grafik ve veri gösterimi
                </p>
                <p>
                    Olay ve alarm takibi
                </p>
                <p>
                    Farklı ekran çözünürlüklerine göre duyarlı davranan, kullanıcıya cihaz ve çözünürlükten bağımsız olarak her platformda rahat bir gezinme sağlar
                </p>
                <p>
                    Web tabanlı erişim ve raporlama servisi
                </p>
                <p>
                    Birçok monitörde aynı anda takip
                </p>
                <p>
                    Mobil platformlarda konrol imkanı
                </p>
                <p>
                    Dokunmatik platformlar ile uyumlu yazılım
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>

    </div>
</div>

<!-- ##### Kullanıcı Yönetimi ##### -->
<div id="userManangement" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <br />
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    Kullanıcı gruplarını göre yetkilendirme imkanı
                </p>
                <p>
                    Misafir ve Standart kullanıcı grupları
                </p>
                <p>
                    Sınırsız kullanıcı yetki seviyesi (Donanımların kısıtları sayıyı etkilemektedir)
                </p>
                <p>
                    Seçilen kullanıcılara özel alarm oluşturma
                </p>
                <p>
                    E-posta ve SMS ile bildirim.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>

